.lp-hero {
  background: linear-gradient(180deg, #1589c4 0%, #0052a4 100%);

  top: 0;
  right: 0;
  left: 0;
  padding-top: 179px;
  min-height: 80vh;
  min-width: 100vw;
  padding-bottom: 80px;
}

.block-container {
  color: #fff;
  width: 65%;
  font-weight: bold;
}

.block-container h1 {
  color: #fff;
  font-size: 4.6875rem;
  font-weight: bold;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  animation: fadeIn 1s ease-out 0s;
}

.block-container p {
  color: #fff;
  font-weight: 600 !important;
}

.block-col p {
  font-weight: 500 !important;
}

.block-container button {
  margin-top: 1rem;
  color: var(--brand-blue);
  font-weight: 500;
}

.lp-head {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gyb-container {
  min-height: 400px;
  background-color: var(--brand-gray);
  padding: 80px 30px;
}

.block-columns {
  margin-bottom: 1.75em;
}

.block-col {
  width: 48%;
}

@media screen and (max-width: 992px) {
  .block-col h2 {
    font-size: 2.5rem !important;
  }

  .block-col p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 668px) {
  .block-columns {
    flex-direction: column !important;
  }

  .block-col {
    width: 100% !important;
  }
}

/* mortgage */
.m-section {
  margin: 0 auto;
  padding: 80px 0;
  width: 100%;
}

.m-section .active {
  background-color: var(--brand-blue) !important;
}

.m-section .btn-outline-primary:not(.active) {
  color: var(--brand-blue) !important;
}

.m-section .btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--brand-light-blue);
}

.m-section section .content {
  padding: 40px 0px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.btn-outline-primary:hover {
  color: var(--brand-blue);
}

@media screen and (max-width: 1200px) {
  .m-section .btn-group {
    width: 65% !important;
  }
}

@media screen and (max-width: 992px) {
  .m-section .btn-group {
    width: 75% !important;
  }
}

@media screen and (max-width: 768px) {
  .m-section .col-6 {
    flex-basis: 100%;
    max-width: 100%;
    position: relative;
  }
}

/* about us */
.au-container {
  padding: 80px 30px;
  background-image: linear-gradient(180deg, #1589c4 0%, #0052a4 100%);
}

.au-container h2,
.au-container p {
  color: #fff !important;
}

.au-container button {
  color: var(--brand-blue);
}

@media screen and (max-width: 768px) {
  .block-col:not(:first-child) {
    margin-left: 2rem;
  }
}
