.lp-hero {
  background: linear-gradient(180deg, #1589c4 0%, #0052a4 100%);

  top: 0;
  right: 0;
  left: 0;
  padding-top: 179px;
  min-height: 80vh;
  min-width: 100vw;
  padding-bottom: 80px;
}

.block-container {
  color: #fff;
  width: 65%;
  font-weight: bold;
}

.block-container h1 {
  color: #fff;
  font-size: 4.6875rem;
  font-weight: bold;
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  animation: fadeIn 1s ease-out 0s;
}

.block-container p {
  color: #fff;
}

.block-container button {
  margin-top: 1rem;
  color: var(--brand-blue);
  font-weight: 500;
}

.lp-head {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.gyb-container {
  min-height: 400px;
  background-color: var(--brand-gray);
  padding: 80px 30px;
}

.block-columns {
}

.block-col {
  width: 48%;
}

@media screen and (max-width: 992px) {
  .block-col h2 {
    font-size: 2.5rem !important;
  }

  .block-col p {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 668px) {
  .block-columns {
    flex-direction: column !important;
  }

  .block-col {
    width: 100% !important;
  }
}
